@use "sass:math";
@import "../breakpoints";

@mixin each-height {
  &-auto {
    height: auto;
  }
  &-view {
    height: 100vh;
  }
  &-1\/1 {
    height: 100%;
  }

  @for $idx from 0 through 64 {
    $height: $idx * 0.25;

    &-#{$idx} {
      height: #{$height}rem;
    }
  }

  &-96 {
    height: 24rem;
  }
  &-128 {
    height: 32rem;
  }

  @for $b from 2 through 6 {
    @for $a from 1 through $b - 1 {
      $height: math.div($a, $b) * 100;

      &-#{$a}\/#{$b} {
        height: #{$height} + "%";
      }
    }
  }
}

.h {
  @include each-height;
}

.min-h {
  @for $idx from 0 through 64 {
    $height: $idx * 0.25;

    &-#{$idx} {
      min-height: #{$height}rem;
    }
  }

  &-96 {
    min-height: 24rem;
  }
  &-128 {
    min-height: 32rem;
  }
}
.max-h {
  @for $idx from 0 through 64 {
    $height: $idx * 0.25;

    &-#{$idx} {
      max-height: #{$height}rem;
    }
  }

  &-96 {
    max-height: 24rem;
  }
  &-128 {
    max-height: 32rem;
  }
}

@each $key, $value in $breakpoints {
  @include media-min-width($value) {
    .#{$key}\:h {
      @include each-height;
    }
  }
}
