@use "sass:math";
@use "../breakpoints" as b;

@mixin each-width {
  &-auto {
    width: auto;
  }
  &-view {
    width: 100vw;
  }
  &-1\/1 {
    width: 100%;
  }

  @for $idx from 0 through 64 {
    $width: $idx * 0.25;

    &-#{$idx} {
      width: #{$width}rem;
    }
  }

  &-96 {
    width: 24rem;
  }
  &-128 {
    width: 32rem;
  }

  @for $b from 2 through 6 {
    @for $a from 1 through $b - 1 {
      $width: math.div($a, $b) * 100;

      &-#{$a}\/#{$b} {
        width: #{$width} + "%";
      }
    }
  }
}

.w {
  @include each-width;
}

.min-w {
  @for $idx from 0 through 64 {
    $width: $idx * 0.25;

    &-#{$idx} {
      min-width: #{$width}rem;
    }
  }

  &-96 {
    min-width: 24rem;
  }
  &-128 {
    min-width: 32rem;
  }
}
.max-w {
  @for $idx from 0 through 64 {
    $width: $idx * 0.25;

    &-#{$idx} {
      max-width: #{$width}rem;
    }
  }

  &-96 {
    max-width: 24rem;
  }
  &-128 {
    max-width: 32rem;
  }
}

@each $key, $value in b.$breakpoints {
  @include b.media-min-width($value) {
    .#{$key}\:w {
      @include each-width;
    }
  }
}
