@use "./vars" as v;

@each $tint, $color in v.$colors {
  .bg-#{$tint} {
    background-color: $color;
  }
  .hover\:bg-#{$tint}:hover {
    background-color: $color;
  }
  .focus\:bg-#{$tint}:focus {
    background-color: $color;
  }
  .disabled\:bg-#{$tint}:disabled {
    background-color: $color;
  }
}
