@use "./vars" as v;

@each $tint, $color in v.$colors {
  .border-#{$tint} {
    border-color: $color;
  }
  .hover\:border-#{$tint}:hover {
    border-color: $color;
  }
  .focus\:border-#{$tint}:focus {
    border-color: $color;
  }
  .disabled\:border-#{$tint}:disabled {
    border-color: $color;
  }
}
