@import "./vars";

@each $tint, $color in $colors {
  .fill-#{$tint} {
    fill: $color;
  }
  .hover\:fill-#{$tint}:hover {
    fill: $color;
  }
  .focus\:fill-#{$tint}:focus {
    fill: $color;
  }
  .disabled\:fill-#{$tint}:disabled {
    fill: $color;
  }

  .stroke-#{$tint} {
    stroke: $color;
  }
  .hover\:stroke-#{$tint}:hover {
    stroke: $color;
  }
  .focus\:stroke-#{$tint}:focus {
    stroke: $color;
  }
  .disabled\:stroke-#{$tint}:disabled {
    stroke: $color;
  }
}
