@use "./vars" as v;

@each $tint, $color in v.$colors {
  .text-#{$tint} {
    color: $color;
  }
  .hover\:text-#{$tint}:hover {
    color: $color;
  }
  .focus\:text-#{$tint}:focus {
    color: $color;
  }
  .disabled\:text-#{$tint}:disabled {
    color: $color;
  }
}
