@use "sass:map";

:root {
  --white: #fff;
  --black: #000;
  --gray-100: #e6e6e6;
  --gray-200: #c9c9c9;
  --gray-300: #b0b0b0;
  --gray-400: #949494;
  --gray-500: #7a7a7a;
  --gray-600: #616161;
  --gray-700: #4a4a4a;
  --gray-800: #303030;
  --gray-900: #1a1a1a;
  --deep-orange-100: #ffdcd1;
  --deep-orange-200: #ffb59e;
  --deep-orange-300: #ff9270;
  --deep-orange-400: #ff6a3d;
  --deep-orange-500: #ff470f;
  --deep-orange-600: #d63200;
  --deep-orange-700: #a32600;
  --deep-orange-800: #6b1900;
  --deep-orange-900: #380d00;
  --yellow-100: #fff8e5;
  --yellow-200: #fff3d1;
  --yellow-300: #ffecb8;
  --yellow-400: #ffe7a3;
  --yellow-500: #ffe08a;
  --yellow-600: #ffcb3d;
  --yellow-700: #ebac00;
  --yellow-800: #9e7400;
  --yellow-900: #4d3800;
  --green-100: #dcf4e9;
  --green-200: #b5e8d1;
  --green-300: #92debb;
  --green-400: #6bd2a3;
  --green-500: #48c78e;
  --green-600: #32a471;
  --green-700: #267d56;
  --green-800: #195238;
  --green-900: #0d2b1e;
  --teal-100: #c2fff6;
  --teal-200: #85ffed;
  --teal-300: #4dffe4;
  --teal-400: #0fffdb;
  --teal-500: #00d1b2;
  --teal-600: #00a88f;
  --teal-700: #00806c;
  --teal-800: #005245;
  --teal-900: #002923;
  --light-blue-100: #dae9f6;
  --light-blue-200: #b1d1ec;
  --light-blue-300: #8cbce3;
  --light-blue-400: #63a4d9;
  --light-blue-500: #3e8ed0;
  --light-blue-600: #2a72ac;
  --light-blue-700: #205783;
  --light-blue-800: #153956;
  --light-blue-900: #0b1e2d;
  --indigo-100: #dce0f4;
  --indigo-200: #b5bee8;
  --indigo-300: #92a0de;
  --indigo-400: #6b7ed2;
  --indigo-500: #485fc7;
  --indigo-600: #3247a4;
  --indigo-700: #26367d;
  --indigo-800: #192452;
  --indigo-900: #0d132b;
  --purple-100: #f0e0ff;
  --purple-200: #e1c2ff;
  --purple-300: #d5a8ff;
  --purple-400: #c68aff;
  --purple-500: #b76bff;
  --purple-600: #9524ff;
  --purple-700: #7100db;
  --purple-800: #4a008f;
  --purple-900: #250047;
  --rose-100: #fcd9e0;
  --rose-200: #f9b3c1;
  --rose-300: #f792a6;
  --rose-400: #f46c87;
  --rose-500: #f14668;
  --rose-600: #e8123d;
  --rose-700: #af0d2e;
  --rose-800: #72091e;
  --rose-900: #39040f;
}

$colors: (
  "white": var(--white),
  "black": var(--black),
  "gray-100": var(--gray-100),
  "gray-200": var(--gray-200),
  "gray-300": var(--gray-300),
  "gray-400": var(--gray-400),
  "gray-500": var(--gray-500),
  "gray-600": var(--gray-600),
  "gray-700": var(--gray-700),
  "gray-800": var(--gray-800),
  "gray-900": var(--gray-900),
  "deep-orange-100": var(--deep-orange-100),
  "deep-orange-200": var(--deep-orange-200),
  "deep-orange-300": var(--deep-orange-300),
  "deep-orange-400": var(--deep-orange-400),
  "deep-orange-500": var(--deep-orange-500),
  "deep-orange-600": var(--deep-orange-600),
  "deep-orange-700": var(--deep-orange-700),
  "deep-orange-800": var(--deep-orange-800),
  "deep-orange-900": var(--deep-orange-900),
  "yellow-100": var(--yellow-100),
  "yellow-200": var(--yellow-200),
  "yellow-300": var(--yellow-300),
  "yellow-400": var(--yellow-400),
  "yellow-500": var(--yellow-500),
  "yellow-600": var(--yellow-600),
  "yellow-700": var(--yellow-700),
  "yellow-800": var(--yellow-800),
  "yellow-900": var(--yellow-900),
  "green-100": var(--green-100),
  "green-200": var(--green-200),
  "green-300": var(--green-300),
  "green-400": var(--green-400),
  "green-500": var(--green-500),
  "green-600": var(--green-600),
  "green-700": var(--green-700),
  "green-800": var(--green-800),
  "green-900": var(--green-900),
  "teal-100": var(--teal-100),
  "teal-200": var(--teal-200),
  "teal-300": var(--teal-300),
  "teal-400": var(--teal-400),
  "teal-500": var(--teal-500),
  "teal-600": var(--teal-600),
  "teal-700": var(--teal-700),
  "teal-800": var(--teal-800),
  "teal-900": var(--teal-900),
  "light-blue-100": var(--light-blue-100),
  "light-blue-200": var(--light-blue-200),
  "light-blue-300": var(--light-blue-300),
  "light-blue-400": var(--light-blue-400),
  "light-blue-500": var(--light-blue-500),
  "light-blue-600": var(--light-blue-600),
  "light-blue-700": var(--light-blue-700),
  "light-blue-800": var(--light-blue-800),
  "light-blue-900": var(--light-blue-900),
  "indigo-100": var(--indigo-100),
  "indigo-200": var(--indigo-200),
  "indigo-300": var(--indigo-300),
  "indigo-400": var(--indigo-400),
  "indigo-500": var(--indigo-500),
  "indigo-600": var(--indigo-600),
  "indigo-700": var(--indigo-700),
  "indigo-800": var(--indigo-800),
  "indigo-900": var(--indigo-900),
  "purple-100": var(--purple-100),
  "purple-200": var(--purple-200),
  "purple-300": var(--purple-300),
  "purple-400": var(--purple-400),
  "purple-500": var(--purple-500),
  "purple-600": var(--purple-600),
  "purple-700": var(--purple-700),
  "purple-800": var(--purple-800),
  "purple-900": var(--purple-900),
  "rose-100": var(--rose-100),
  "rose-200": var(--rose-200),
  "rose-300": var(--rose-300),
  "rose-400": var(--rose-400),
  "rose-500": var(--rose-500),
  "rose-600": var(--rose-600),
  "rose-700": var(--rose-700),
  "rose-800": var(--rose-800),
  "rose-900": var(--rose-900),
  "neutral-100": var(--gray-100),
  "neutral-200": var(--gray-200),
  "neutral-300": var(--gray-300),
  "neutral-400": var(--gray-400),
  "neutral-500": var(--gray-500),
  "neutral-600": var(--gray-600),
  "neutral-700": var(--gray-700),
  "neutral-800": var(--gray-800),
  "neutral-900": var(--gray-900),
  "error-100": var(--deep-orange-100),
  "error-200": var(--deep-orange-200),
  "error-300": var(--deep-orange-300),
  "error-400": var(--deep-orange-400),
  "error-500": var(--deep-orange-500),
  "error-600": var(--deep-orange-600),
  "error-700": var(--deep-orange-700),
  "error-800": var(--deep-orange-800),
  "error-900": var(--deep-orange-900),
  "alert-100": var(--yellow-100),
  "alert-200": var(--yellow-200),
  "alert-300": var(--yellow-300),
  "alert-400": var(--yellow-400),
  "alert-500": var(--yellow-500),
  "alert-600": var(--yellow-600),
  "alert-700": var(--yellow-700),
  "alert-800": var(--yellow-800),
  "alert-900": var(--yellow-900),
  "success-100": var(--green-100),
  "success-200": var(--green-200),
  "success-300": var(--green-300),
  "success-400": var(--green-400),
  "success-500": var(--green-500),
  "success-600": var(--green-600),
  "success-700": var(--green-700),
  "success-800": var(--green-800),
  "success-900": var(--green-900),
  "info-100": var(--indigo-100),
  "info-200": var(--indigo-200),
  "info-300": var(--indigo-300),
  "info-400": var(--indigo-400),
  "info-500": var(--indigo-500),
  "info-600": var(--indigo-600),
  "info-700": var(--indigo-700),
  "info-800": var(--indigo-800),
  "info-900": var(--indigo-900),
  "current": currentColor,
  "transparent": transparent
);
