@use "sass:math";

.translate {
  &-x-1\/1 {
    transform: translateX(100%);
  }
  &-y-1\/1 {
    transform: translateY(100%);
  }

  @for $idx from 0 through 64 {
    $value: $idx * 0.25;

    &-x-#{$idx} {
      transform: translateX(#{$value}rem);
    }
    &-x-#{$idx} {
      transform: translateY(#{$value}rem);
    }
  }

  @for $b from 2 through 6 {
    @for $a from 1 through $b - 1 {
      $value: math.div($a, $b) * 100;

      &-x-#{$a}\/#{$b} {
        transform: translateX(#{$value} + "%");
      }
      &-y-#{$a}\/#{$b} {
        transform: translateY(#{$value} + "%");
      }
    }
  }
}
