@use "../breakpoints" as b;

@mixin grid-gap {
  @for $idx from 0 through 16 {
    $gap: $idx * 0.25;

    &-#{$idx} {
      gap: #{$gap}rem;
    }
    &-x-#{$idx} {
      column-gap: #{$gap}rem;
    }
    &-y-#{$idx} {
      row-gap: #{$gap}rem;
    }
  }
}

.gap {
  @include grid-gap;
}

@each $key, $value in b.$breakpoints {
  @include b.media-min-width($value) {
    .#{$key}\:gap {
      @include grid-gap;
    }
  }
}
