@use "../breakpoints" as b;

.hidden {
  display: none;
}
@each $display in inline, block, inline-block, flex, inline-flex, table, inline-table, grid, inline-grid, contents {
  .#{$display} {
    display: $display;
  }
}

@each $key, $value in b.$breakpoints {
  @include b.media-min-width($value) {
    .#{$key}\:hidden {
      display: none;
    }
    @each $display in inline, block, inline-block, flex, inline-flex, table, inline-table, grid, inline-grid, contents {
      .#{$key}\:#{$display} {
        display: $display;
      }
    }
  }
}
