@use "../breakpoints" as b;

.self {
  &-start {
    align-self: flex-start;
  }
  &-center {
    align-self: center;
  }
  &-end {
    align-self: flex-end;
  }
}

@each $key, $value in b.$breakpoints {
  @include b.media-min-width($value) {
    .#{$key}\:self {
      &-start {
        align-self: flex-start;
      }
      &-center {
        align-self: center;
      }
      &-end {
        align-self: flex-end;
      }
    }
  }
}
