@use "../breakpoints" as b;

.justify {
  &-start {
    justify-content: flex-start;
  }
  &-center {
    justify-content: center;
  }
  &-end {
    justify-content: flex-end;
  }
  &-between {
    justify-content: space-between;
  }
  &-around {
    justify-content: space-around;
  }
}

@each $key, $value in b.$breakpoints {
  @include b.media-min-width($value) {
    .#{$key}\:justify {
      &-start {
        justify-content: flex-start;
      }
      &-center {
        justify-content: center;
      }
      &-end {
        justify-content: flex-end;
      }
      &-between {
        justify-content: space-between;
      }
      &-around {
        justify-content: space-around;
      }
    }
  }
}
