@use "../breakpoints" as b;

@mixin each-grid-column {
  &-auto {
    grid-column: auto;
  }
  &-start-auto {
    grid-column-start: auto;
  }
  &-end-auto {
    grid-column-end: auto;
  }

  @for $idx from 1 through 12 {
    &-#{$idx} {
      grid-column: span $idx / span $idx;
    }
    &-start-#{$idx} {
      grid-column-start: $idx;
    }
    &-end-#{$idx} {
      grid-column-end: $idx;
    }
  }
}

.column {
  @include each-grid-column;
}

@each $key, $value in b.$breakpoints {
  @include b.media-min-width($value) {
    .#{$key}\:column {
      @include each-grid-column;
    }
  }
}
